extends layout

block content
  h1= title

  ul
    each director in director_list
      li
        a(href=director.url) #{director.name}
        |  (#{director.birth_date_formatted} - #{director.death_date_formatted})

    else
      li There are no directors